[submodule "schlussel"]
	path = schlussel
	url = git@github.com:zudaR107/schlussel.git
[submodule "schloss"]
	path = schloss
	url = git@github.com:zudaR107/schloss.git
[submodule "kuvert"]
	path = kuvert
	url = git@github.com:zudaR107/kuvert.git
[submodule "tor"]
	path = tor
	url = git@github.com:zudaR107/tor.git
[submodule "schloss-ui"]
	path = schloss-ui
	url = git@github.com:zudaR107/schloss-ui.git
[submodule "tafel"]
	path = tafel
	url = git@github.com:zudaR107/tafel.git
[submodule "zettel"]
	path = zettel
	url = git@github.com:zudaR107/zettel.git
[submodule "schloss-server-kit"]
	path = schloss-server-kit
	url = git@github.com:zudaR107/schloss-server-kit.git
[submodule "glocke"]
	path = glocke
	url = git@github.com:zudaR107/glocke.git
[submodule "schrank"]
	path = schrank
	url = git@github.com:zudaR107/schrank.git
